@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
/* @import url('https://images.unsplash.com/photo-1640690821275-c6aa1e1ccee3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80'); */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    /* color: white; */
    font-family: 'Open Sans', sans-serif;
    /* background: no-repeat url('https://images.unsplash.com/photo-1640690821275-c6aa1e1ccee3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80'); */
    /* background: no-repeat url('https://images.unsplash.com/photo-1687201363580-1cd1bb33c2b5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80'); */
    /* Dark Theme */
    /* background: no-repeat url('https://images.unsplash.com/photo-1676600413487-0ebf7ca3814f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1300&q=80'); */
    /* background: no-repeat url('https://images.unsplash.com/photo-1684624957060-d532ceddce98?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80'); */
    /* background: no-repeat url('https://images.unsplash.com/photo-1683263170021-b1188a406864?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80'); */
    /* background: no-repeat url('https://images.unsplash.com/photo-1681852287086-daa5deee6175?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80'); */
    /* Light Theme */
    background: no-repeat url('https://images.unsplash.com/photo-1648213649718-ddaba6e6b9a6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80');
    /* background: no-repeat url('https://images.unsplash.com/photo-1679913969285-64f089885005?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80'); */
    /* background: no-repeat url('https://images.unsplash.com/photo-1680120336698-4bb1898241ca?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1332&q=80'); */
    /* background: no-repeat url('https://images.unsplash.com/photo-1554147090-e1221a04a025?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1148&q=80'); */
    /* background: no-repeat url('https://images.unsplash.com/photo-1536514498073-50e69d39c6cf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80'); */
    /* background: no-repeat url('https://images.unsplash.com/photo-1465173121987-373740a169b3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80'); */
    background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}
.material-symbols-outlined {
    font-variation-settings: 
    'FILL' 0,
    'wght' 100,
    'GRAD' 0,
    'opsz' 48    
    ;
}
#container-main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#form-container {
    border-bottom: 1px solid black;
    margin: 0 2rem 2rem 2rem;
    padding: 1rem;
    & input {
        background:none;
        padding: 5px;
        font-family: inherit;
        font-size: inherit;
        border: 2px solid black;
        border-radius: 5px;
    }
    & button {
        margin-left: 0.5rem;
        font-size: inherit;
        font-family: inherit;
        color: white;
        background: black;
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
        cursor: pointer;
    }
    & input:focus {
        box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    }
}
#cities-container {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-around;
    & h2 {
        font-size: 1.2rem;
    }
    & p {
        font-size: 0.9rem;
    }
    & #city:hover {
        cursor: pointer;
        & h2 {
            text-decoration: underline;
        }
    }
}
#weather-container {
    display: flex;
    justify-content: space-between;
}
#main-weather-container {
    margin-left: 2rem;
    & h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-top: 1rem;
    }
    & h2 {
        font-size: 2rem;
    }
    & span {
        font-size: 8rem;
    }
}
#extended-weather-container {
    margin-right: 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    align-items: center;
    justify-items: left;
    & span {
        font-size: 3rem;        
    }
    & .material-symbols-outlined {
        font-variation-settings: 
        'wght' 300;
    }
}
#forecast-container {
    margin: auto 2rem 0 2rem;
    padding: 2rem;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    & h1 {
        font-size: 1.5rem;
    }
    & #forecast-temp-main {
        margin-top: 0.5rem;
        font-size: 1.3rem;
        font-weight: 700;
    }
    & p {
        font-size: 1rem;
    }
    & #forecast-weather {
        margin-top: 1rem;
        font-size: 1.3rem;
    }
    & span {
        text-align: center;
        font-size: 3rem;
    }
    & .material-symbols-outlined {
        font-variation-settings:
            'wght' 300;
    }
}   